.heading{
  &-categories{
    h2{
      padding: rem-calc(10) 0 rem-calc(10) rem-calc(50);

      &::before{
        content: '';
        display: inline-block;
        width: rem-calc(50);
        overflow: hidden;
        background-image: url("../img/dots.png");
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
}

.categories{
  padding: rem-calc(20 10);
  position: relative;

  &::before, &::after{
    content: '';
    position: absolute;
  }

  &::before{
    top: rem-calc(-1);
    left: 0;
    @include triangle(left, top, 20, $white);

    @include breakpoint(large){
      @include triangle(left, top, 40);
    }
  }

  &::after{
    bottom: rem-calc(-1);
    right: 0;
    @include triangle(right, bottom, 20, $white);

    @include breakpoint(large){
      @include triangle(right, bottom, 40);
    }
  }

  @include breakpoint(medium){
    padding: 0 rem-calc(15);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .item{
    margin-bottom: rem-calc(10);

    @include breakpoint(medium){
      width: calc((100% - #{rem-calc(10)}) / 2);
    }

    @include breakpoint(large){
      width: calc((100% - #{rem-calc(10) * 2}) / 3);
    }

    &:nth-last-of-type(-n+2){
      @include breakpoint(medium){
        margin-bottom: 0;
      }

      h3{
        @include breakpoint(medium){
          transform: translate(#{rem-calc(20)}, calc(-100% - #{rem-calc(20)}));
        }
      }
    }

    &:nth-last-of-type(-n+3){
      @include breakpoint(large){
        margin-bottom: 0;
      }

      h3{
        @include breakpoint(large){
          transform: translate(#{rem-calc(20)}, calc(-100% - #{rem-calc(30)}));
        }

        @include breakpoint(xlarge){
          transform: translate(#{rem-calc(20)}, calc(-100% - #{rem-calc(40)}));
        }
      }
    }

    img{
      width: 100%;
    }

    h3{
      margin: 0;
      line-height: 1.25;
      transform: translate(#{rem-calc(20)}, calc(-100% - #{rem-calc(10)}));
      position: absolute;
      text-transform: uppercase;
      color: $white;
    }
  }
}
