.hero{
  position: relative;

  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    @include triangle(left, bottom, 20, $white);

    @include breakpoint(large){
      @include triangle(left, bottom, 40);
    }
  }

  .item{
    position: relative;

    .image{
      img{
        width: 100%;
      }
    }

    .content{
      @extend .text-center;
      @include absolute-center;
      width: 100%;

      h1{
        text-transform: uppercase;
        color: $white;

        span{
          @extend .h3;
          display: block;
        }
      }
    }
  }

  .slick-arrow{
    position: absolute;
    top: initial;
    transform: none;
    bottom: rem-calc(5);

    &.slick-next{
      right: 0;
    }

    &.slick-prev{
      left: initial;
      right: rem-calc(20);
    }
  }
}
