.market-leaders{
  position: relative;

  @include breakpoint(medium){
    padding-top: rem-calc(40);
  }

  @include breakpoint(large){
    margin-top: rem-calc(40);
    padding-top: rem-calc(80);
  }

  &::before, &::after{
    @include breakpoint(large){
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: url("../img/dots.png");
      background-repeat: no-repeat;
      z-index: -1;
    }
  }

  &::after{
    @include breakpoint(large){
    background-position: bottom right;
    }
  }

  .grid-container{
    @include breakpoint(large){
      display: flex;
      align-items: center;
    }

    picture, .content{
      @include breakpoint(large){
        flex: 1 1 auto;
        width: 50%;
      }
    }

    picture{
      @include breakpoint(large){
        text-align: center;
      }
    }
  }

  .inner-text{
    @include breakpoint(medium){
      display: flex;
    }

    p, ul{
      @include breakpoint(medium){
        width: 50%;
      }

      @include breakpoint(large){
        padding: rem-calc(10);
      }
    }
  }

  ul{
    list-style: none;
    margin-left: 0;

    li{
      &::before{
        color: $primary-color;
      }

      &:nth-child(odd){
        &::before{
          @include icon('\f0ad');
        }
      }

      &:nth-child(even){
        &::before{
          @include icon('\f44b');
        }
      }
    }
  }

  .button-wrapper{
    @include breakpoint(medium){
      text-align: right;
    }
  }
}
