.top-products{
  background-image: url("../img/top-products.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  position: relative;

  &::before{
    @include breakpoint(large){
      content: '';
      background-image: url("../img/dots.png");
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      bottom: 0;
      left: 0;
      width: rem-calc(50);
      transform: translateY(-50%);
    }
  }

  &::after{
    @include breakpoint(medium){
      content: '';
      position: absolute;
      bottom: calc(100% - #{rem-calc(1)});
      @include triangle(left, bottom, 40);
      background-image: url("../img/top-products.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-position: center center;
    }

    @include breakpoint(large){
      @include triangle(left, bottom, 200);
    }
  }

  .heading{
    .standard{
      color: $white;
    }
  }

  .products{
    margin-bottom: 0;
    padding-bottom: rem-calc(20);

    .slick{
      &-list{
        margin: 0 rem-calc(20);
      }

      &-dots{
        bottom: 0;

        li{
          @include breakpoint(medium){
            width: rem-calc(40);
          }
        }

        button{
          border: rem-calc(1) solid $white;
          border-radius: rem-calc(5);
          height: rem-calc(5);
          padding: 0;

          @include breakpoint(medium){
            width: rem-calc(40);
          }

          &::before{
            display: none;
          }
        }

        .slick-active{
          button{
            background-color: $white;
          }
        }
      }
    }

    .item{
      @extend .text-center;
      text-transform: uppercase;
      color: $white;

      @include breakpoint(medium){
        margin: 0 rem-calc(5 20);
        padding: rem-calc(10);
        background-color: $black;
        border: rem-calc(1) solid $primary-color;
      }

      img{
        margin: 0 auto rem-calc(10);
      }

      .price-wrapper{
        margin-bottom: rem-calc(20);

        p{
          margin-bottom: 0;
        }

        .price{
          color: $primary-color;
          font-weight: $global-weight-bold;
        }
      }
    }
  }
}
