.slick{
  &-prev, &-next{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    z-index: 1;

    &::before{
      font-family: unset;
    }
  }

  &-prev{
    left: 0;

    &::before{
      content: "\f053";
    }
  }

  &-next{
    right: 0;

    &::before{
      content: "\f054";
    }
  }
}
