.heading{
  @include breakpoint(medium){
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h2{
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    padding: rem-calc(10);

    span{
      display: block;
      line-height: 1;
    }

    .hollow{
      font-size: rem-calc(50);
      color: $medium-gray;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: rem-calc(1);
      -webkit-text-stroke-color: $medium-gray;

      @include breakpoint(medium){
        font-size: rem-calc(80);
      }
    }

    .primary, .standard{
      margin-left: rem-calc(5);
    }

    .primary{
      color: $primary-color;
      transform: translateY(-150%);
      position: absolute;

      @include breakpoint(medium){
        font-size: rem-calc(30);
      }
    }

    .standard{
      @include breakpoint(medium){
        width: 80%;
      }
    }
  }

  .button-wrapper{
    @extend .text-center;

    @include breakpoint(medium){
      flex-grow: 1;
      position: relative;
    }

    @include breakpoint(large){
      display: flex;
      justify-content: flex-end;
    }

    &::before{
      @include breakpoint(medium){
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        height: rem-calc(1);
        background-color: $light-gray;
      }
    }

    .button{
      margin: 0;

      @include breakpoint(large){
        margin-right: 10%;
      }
    }
  }
}
