@mixin triangle($x: left, $y: bottom, $size: 20, $color: null){
  $p1: 0 0;
  $p2: 0 rem-calc($size);
  $p3: 100% rem-calc($size);
  $p4: 100% 0;

  @if ($x == left) and ($y == bottom){
    $p4: $p1;
  }

  @if ($x == left) and ($y == top){
    $p3: $p4;
  }

  @if ($x == right) and ($y == bottom){
    $p1: $p2;
  }

  @if ($x == right) and ($y == top){
    $p2: $p3;
  }

  width: 100%;
  height: rem-calc($size);
  clip-path: polygon($p1, $p2, $p3, $p4);
  @if $color != null{
    background-color: $color;
  }
}
